* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #0a4685;
}

header {
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    font-style: italic;
    color: white;
    background-color: #0a4685;
    background-size: cover;
    padding: 10px;
    background-attachment: fixed;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    margin: 0 30px;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    font-size: 80px;
    background-color: #e8edf2c3;
    border: #0a4685 solid 5px;
    margin: 0;
    padding: 20px;
    width: fit-content;
}

.banner {
    background-image: url("./images/mountains.JPG");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: brightness(.8);
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: 50% 40%;
    color: #0a4685;
    padding: 10%;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
}

.content {
    background-color: #fff;
    color: #0a4685;
    width: 80%;
    margin: 30px;
    padding: 2%;
}

.content h3,
p,
h4,
h5 {
    margin-top: 30px;
    margin-left: 20px;
}

h6 {
    margin-left: 20px;
}

.center {
    display: flex;
    justify-content: center;
}

section h4 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    background-color: #e8edf2;
    border: #0a4685 solid 2px;
    margin: auto;
    padding: 2%;
    width: fit-content;
}

h4 a {
    margin-top: 5%;
}

.project-links {
    display: inline;
}

#bottom {
    display: flex;
    flex: end;
}

.row {
    margin-bottom: 2%;
}

.row h5 {
    margin-top: 5px;
}

.carousel {
    width: 80%;
    margin: 25px auto 0px auto;
}

.carousel-img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.caption {
    width: 100%;
    display: flex;
    justify-content: center;
}

.img-caption {
    padding: 10px 5px;
    color: #0a4685;
    font-weight: bold;
    background-color: #9ea3a7bb;
    text-align: center;
    width: fit-content;
}

video {
    margin-top: 5%;
    width: 80%;
}

.border-primary {
    border: 5px solid #0a4685 !important;
}

.center h5 {
    font-weight: bold;
    margin-bottom: 30px;
}